@reference '../../tailwind.css';

:host {
  display: block;
  height: 100%;
}

.menu-item {
  &.active {
    @apply bg-primary text-primary-contrast;

    &:hover {
      @apply bg-primary text-primary-contrast;
    }
  }
}

