:host {
  display: block;
  height: 100%;
}

.menu-item {
  &.active {
    background: var(--p-primary-color);
    color: var(--p-primary-contrast-color);

    &:hover {
      background: var(--p-primary-color);
      color: var(--p-primary-contrast-color);
    }
  }
}

