apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: propertea-gateway
  namespace: kube-system
  annotations:
    cert-manager.io/cluster-issuer: propertea-ca-issuer
spec:
  gatewayClassName: envoy
  listeners:
    - name: https
      hostname: "*.local"
      port: 443
      protocol: HTTPS
      tls:
        mode: Terminate
        certificateRefs:
          - group: ""
            kind: Secret
            name: propertea-gateway-tls
      allowedRoutes:
        namespaces:
          from: All
    - name: http
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
