<hlm-autocomplete
  [value]="selectedOption()"
  [isItemEqualToValue]="isItemEqualToValue"
  [itemToString]="itemToString"
  [disabled]="disabled()"
  [(search)]="search"
  (valueChange)="onValueChange($event)">
  <hlm-autocomplete-input
    [placeholder]="translatedPlaceholder()"
    [attr.aria-label]="ariaLabel() || null" />

  <hlm-autocomplete-content *hlmAutocompletePortal>
    @if (data.isLoading()) {
      <hlm-autocomplete-status>
        <hlm-spinner size="sm" />
      </hlm-autocomplete-status>
    } @else {
      <hlm-autocomplete-empty>{{ 'common.noResults' | transloco }}</hlm-autocomplete-empty>
      <div hlmAutocompleteList>
        @for (option of filteredOptions(); track option.value) {
          <hlm-autocomplete-item [value]="option">{{ option.label }}</hlm-autocomplete-item>
        }
      </div>
    }
  </hlm-autocomplete-content>
</hlm-autocomplete>
