architecture: standalone
fullnameOverride: redis

auth:
  enabled: false

config:
  content: |
    maxmemory 200mb
    maxmemory-policy allkeys-lru
    appendonly yes
    appendfsync everysec
    save 900 1
    save 300 10
    save 60 10000

persistence:
  enabled: true
  storageClass: longhorn
  size: 2Gi

resources:
  requests:
    memory: 128Mi
    cpu: 100m
  limits:
    memory: 256Mi
    cpu: 500m
