apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-exporter
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "9"
spec:
  project: default
  sources:
    - repoURL: oci://ghcr.io/prometheus-community/charts/prometheus-node-exporter
      targetRevision: 4.51.1
      path: .
      helm:
        releaseName: node-exporter
        valueFiles:
          - $values/deploy/infrastructure/base/o11y/node-exporter/values.yaml
          - $values/deploy/environments/local/o11y/node-exporter/values.yaml
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      ref: values
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      path: deploy/environments/local/o11y/node-exporter
  destination:
    server: https://kubernetes.default.svc
    namespace: o11y
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
