apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: victoria-logs
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  project: default
  sources:
    - repoURL: https://victoriametrics.github.io/helm-charts/
      chart: victoria-logs-single
      targetRevision: 0.11.28
      helm:
        releaseName: victoria-logs
        valueFiles:
          - $values/deploy/infrastructure/base/o11y/victoria-logs/values.yaml
          - $values/deploy/environments/local/o11y/victoria-logs/values.yaml
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: o11y
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
