services:
    organization-api:
        container_name: propertea-organization-api
        build:
            context: ../..
            dockerfile: src/services/Organization/ProperTea.Organization/Dockerfile
        depends_on:
            apps-postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            authentik-server:
                condition: service_healthy
        restart: always
        environment:
            - "ASPNETCORE_ENVIRONMENT=Development"
            - "ConnectionStrings__Database=Host=apps-postgres;Port=5432;Database=propertea_organization_db;Username=propertea;Password=${ORG_SERVICE_DB_PASS}"
            - "ConnectionStrings__RabbitMq=amqp://${RABBITMQ_DEFAULT_USER:-guest}:${RABBITMQ_DEFAULT_PASS:-guest}@rabbitmq:5672/"
            - "OpenTelemetry__OtlpEndpoint=http://otel-collector:4317"
            - "OTEL_RESOURCE_ATTRIBUTES=service.name=propertea-organization-api,service.namespace=propertea"
            - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317"
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.organization.rule=Host(`organization.propertea.localhost`)"
            - "traefik.http.routers.organization.tls=true"
            - "traefik.http.services.organization.loadbalancer.server.port=8080"
        networks:
            - propertea-net

networks:
    propertea-net:
        external: true
