infisical:
  fullnameOverride: infisical
  replicaCount: 1
  kubeSecretRef: infisical-secrets

  autoBootstrap:
    enabled: false

ingress:
  enabled: false
  nginx:
    enabled: false

postgresql:
  enabled: true
  fullnameOverride: postgresql
  auth:
    username: infisical
    password: infisical
    database: infisicalDB
  primary:
    persistence:
      storageClass: longhorn
      size: 5Gi

redis:
  enabled: true
  fullnameOverride: redis
  auth:
    password: infisical
  architecture: standalone
  master:
    persistence:
      storageClass: longhorn
      size: 1Gi
