apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: zitadel-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  project: default
  source:
    repoURL: git@github.com:The-Supremacy/ProperTea.git
    targetRevision: HEAD
    path: deploy/environments/sit/zitadel
  destination:
    server: https://kubernetes.default.svc
    namespace: zitadel
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
