apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  project: default
  sources:
    - repoURL: https://codecentric.github.io/helm-charts
      chart: keycloakx
      targetRevision: 7.1.8
      helm:
        releaseName: keycloak
        valueFiles:
          - $values/deploy/infrastructure/base/keycloak/values.yaml
          - $values/deploy/environments/local/keycloak/values.yaml
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      ref: values
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      path: deploy/environments/local/keycloak-route

  destination:
    server: https://kubernetes.default.svc
    namespace: keycloak
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
