apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pgadmin
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "8"
spec:
  project: default
  sources:
    - repoURL: https://helm.runix.net
      chart: pgadmin4
      targetRevision: 1.59.0
      helm:
        releaseName: pgadmin
        valueFiles:
          - $values/deploy/infrastructure/base/pgadmin/values.yaml
          - $values/deploy/environments/local/pgadmin/values.yaml
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      ref: values
    - repoURL: git@github.com:The-Supremacy/ProperTea.git
      targetRevision: HEAD
      path: deploy/environments/local/pgadmin-route
  destination:
    server: https://kubernetes.default.svc
    namespace: pgadmin
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
