apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redisinsight
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "8"
spec:
  project: default
  source:
    repoURL: git@github.com:The-Supremacy/ProperTea.git
    targetRevision: HEAD
    path: deploy/environments/local/redisinsight
  destination:
    server: https://kubernetes.default.svc
    namespace: redisinsight
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
