services:
    # --- Identity Provider ---
    postgres_keycloak:
        image: postgres:18.1-alpine
        container_name: propertea-postgres-keycloak
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=keycloak_db
        volumes:
            - postgres_keycloak_data:/var/lib/postgresql/data
        networks:
            - propertea-net

    keycloak:
        image: quay.io/keycloak/keycloak:26.4.6
        container_name: propertea-keycloak
        command: start-dev
        depends_on:
            - postgres_keycloak
        environment:
            - KC_BOOTSTRAP_ADMIN_USERNAME=${KEYCLOAK_ADMIN}
            - KC_BOOTSTRAP_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
            - KC_HOSTNAME=http://localhost:8080
            - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
            - KEYCLOAK_IMPORT=/opt/keycloak/data/import/realm-export.json
            - KC_DB=postgres
            - KC_DB_URL_HOST=postgres_keycloak
            - KC_DB_URL_DATABASE=keycloak_db
            - KC_DB_USERNAME=${POSTGRES_USER}
            - KC_DB_PASSWORD=${POSTGRES_PASSWORD}
        restart: always
        ports:
            - "8080:8080"
        volumes:
            - keycloak_data:/opt/keycloak/data
            - ../keycloak:/opt/keycloak/data/import
        networks:
            - propertea-net

    # --- Message Broker ---
    rabbitmq:
        image: rabbitmq:4.2.1-management
        container_name: propertea-rabbitmq
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
        ports:
            - "5672:5672"   # AMQP port
            - "15672:15672" # Management UI
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - propertea-net

    # --- Distributed Cache ---
    redis:
        image: redis:8.4-alpine
        container_name: propertea-redis
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - propertea-net

    # --- BFF Gateway ---
    landlord-bff:
        container_name: propertea-landlord-bff
        build:
            context: ../..
            dockerfile: src/services/Gateway/ProperTea.Landlord.Bff/Dockerfile
        ports:
            - "5000:8080"
        depends_on:
            - redis
            - keycloak
        restart: always
        environment:
            - "ASPNETCORE_ENVIRONMENT=Development"
            - "ConnectionStrings__Redis=redis:6379"
        networks:
            - propertea-net

volumes:
    postgres_keycloak_data:
    keycloak_data:
    rabbitmq_data:
    redis_data:
    postgres_identity_data:

networks:
    propertea-net:
        driver: bridge
