apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: zitadel
  namespace: zitadel
spec:
  parentRefs:
    - name: propertea-gateway
      namespace: kube-system
  hostnames:
    - zitadel.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /ui/v2/login
      filters:
        - type: RequestHeaderModifier
          requestHeaderModifier:
            set:
              - name: Host
                value: zitadel.local
      backendRefs:
        - name: zitadel-login
          port: 3000
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: RequestHeaderModifier
          requestHeaderModifier:
            set:
              - name: Host
                value: zitadel.local
      backendRefs:
        - name: zitadel
          port: 8080