replicas: 1

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname=https://keycloak.local"
  - "--hostname-strict=false"

extraEnv: |
  - name: KEYCLOAK_ADMIN
    value: admin
  - name: KEYCLOAK_ADMIN_PASSWORD
    value: "Password1!"

database:
  vendor: postgres
  hostname: keycloak-db-rw
  port: 5432
  database: keycloak
  username: keycloak
  existingSecret: keycloak-db-app
  existingSecretKey: password
