version: 1
metadata:
    name: ProperTea - Common
    labels:
        type: propertea-common
entries:
    - model: authentik_providers_proxy.proxyprovider
      id: propertea-provider-traefik
      identifiers:
          name: "ProperTea Traefik Forward Auth"
      attrs:
          external_host: "https://auth.propertea.localhost"
          authorization_flow: !Find [authentik_flows.flow, [slug, "default-provider-authorization-implicit-consent"]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, "default-provider-invalidation-flow"]]
          cookie_domain: "propertea.localhost"
          mode: forward_domain
          access_token_validity: "hours=24"

    - model: authentik_core.application
      id: propertea-app
      identifiers:
          slug: "propertea-app"
      attrs:
          name: "ProperTea Platform"
          provider: !Find [authentik_providers_proxy.proxyprovider, [name, "ProperTea Traefik Forward Auth"]]
          policy_engine_mode: any

    - model: authentik_outposts.outpost
      id: embedded-outpost
      identifiers:
          name: "authentik Embedded Outpost"
      attrs:
          providers:
              - !Find [authentik_providers_proxy.proxyprovider, [name, "ProperTea Traefik Forward Auth"]]
