version: 1
metadata:
    name: ProperTea - Organization Service
    labels:
        type: propertea-service-organization
entries:
    -   model: authentik_providers_proxy.proxyprovider
        id: propertea-provider-organization
        identifiers:
            name: "ProperTea Organization Provider"
        attrs:
            mode: forward_single
            external_host: "https://api.organization.propertea.localhost"
            internal_host: "http://propertea-organization-api:8080"
            access_token_validity: "hours=24"
            authorization_flow: !Find [ authentik_flows.flow, [ slug, "default-provider-authorization-implicit-consent" ] ]
            invalidation_flow: !Find [ authentik_flows.flow, [ slug, "default-provider-invalidation-flow" ] ]
            signing_key: !Find [ authentik_crypto.certificatekeypair, [ name, "authentik Self-signed Certificate" ] ]

    -   model: authentik_core.application
        id: propertea-app-organization
        identifiers:
            slug: "propertea-organization"
        attrs:
            name: "ProperTea Organization Service"
            provider: !Find [ authentik_providers_proxy.proxyprovider, [ name, "ProperTea Organization Provider" ] ]
            group: "ProperTea Services"
            policy_engine_mode: any

    -   model: authentik_outposts.outpost
        id: embedded-outpost
        identifiers:
            name: "authentik Embedded Outpost"
        attrs:
            providers:
                - !Find [ authentik_providers_proxy.proxyprovider, [ name, "ProperTea Organization Provider" ] ]
