version: 1
metadata:
    name: ProperTea - Organization Service
    labels:
        type: propertea-service-organization
entries:
    -   model: authentik_providers_oauth2.oauth2provider
        id: propertea-provider-organization
        identifiers:
            name: "ProperTea Organization Provider"
        attrs:
            client_id: "propertea-organization-api"
            client_secret: "skmc5rgag5h4G0ucD4OGYuUXoxoQmd7pp1xLziPSjfRaesTExAShrHw7Mc4dpuSutJ8BcSyvfPmVFVxduJ0NiVvGTCo8gFBcAsYSf8d0h1z4o926VsAIlqfaSjYZpck2"
            client_type: public
            redirect_uris:
                -   url: "https://oauth.pstmn.io/v1/callback"
                    matching_mode: strict
                -   url: "com.propertea.app://callback"
                    matching_mode: strict
                -   url: "https://organization.propertea.localhost/scalar/v1"
                    matching_mode: strict
            access_token_validity: "hours=24"
            signing_key: !Find [ authentik_crypto.certificatekeypair, [ name, "authentik Self-signed Certificate" ] ]
            authorization_flow: !Find [ authentik_flows.flow, [ slug, "default-provider-authorization-implicit-consent" ] ]
            invalidation_flow: !Find [ authentik_flows.flow, [ slug, "default-provider-invalidation-flow" ] ]
            property_mappings:
                - !Find [ authentik_core.propertymapping, [ managed, "goauthentik.io/providers/oauth2/scope-email" ] ]
                - !Find [ authentik_core.propertymapping, [ managed, "goauthentik.io/providers/oauth2/scope-openid" ] ]
                - !Find [ authentik_core.propertymapping, [ managed, "goauthentik.io/providers/oauth2/scope-profile" ] ]

    -   model: authentik_core.application
        id: propertea-app-organization
        identifiers:
            slug: "propertea-organization"
        attrs:
            name: "ProperTea Organization Service"
            provider: !Find [authentik_providers_oauth2.oauth2provider, [name, "ProperTea Organization Provider"]]
            group: "ProperTea Services"
            policy_engine_mode: any
